@use './variables' as *;
@use './breakpoints' as *;

form {
    height: 100%;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    z-index: 0;
    transition: width 1s ease, transform 1s ease;
    transform-origin: left;
    transform: translateX(0%);
  }

  form.preview-active {
    transform: translateX(-100%);
} 
  
  form textarea {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 20px;
    background-color: $light-black;
    color: $grey;
    resize: none;
    line-height: 20px;
  }

@include sm {
  form {
    border-right: 1px solid $grey;
    grid-column: 1 / 2;
  }

  form.preview-active {
    transform: translateX(0%);
  }
}